body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 150px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-submit {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Make both buttons fit in one row */
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-back {
    padding: 12px;
    background-color: #008CBA;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Make both buttons fit in one row */
    display: inline-block;
    text-align: center;
}

.btn-back:hover {
    background-color: #007bb5;
}

option {
    padding: 10px;
}